@media (max-width: 1200px) {
    .container {
        width: 95%;
    }
    .love-letter {
        width: 95%;
    }
}
@media (max-width: 960px) {
    .customers-story {
        width: 80%;
    }
    .customers-wrapper {
        margin-bottom: 30px;
    }
}
@media (max-width: 730px) {
    .section-3-container {
        flex-direction: column;
    }
    .buzzfeed-wrapper, .facebook-wrapper, .google-wrapper {
        margin-bottom: 40px;
    }
}
@media (max-width: 670px) {
    .footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about, .occasions, .support {
        margin-bottom: 25px;
    }
}
@media (max-width: 660px) {
    .about-footer {
        flex-direction: column;
    }
    .about-footer > p, .about-footer ul {
        margin-bottom: 30px;
    }
}
@media (max-width: 600px) {
    .header-ul {
        display: none;
    }
    .bar {
        display: block;
    }
}
@media (max-width: 548px) {
    .wrapper {
        margin-bottom: 25px;
    }
}