/* global*/
body {
    max-width: 1170px;
    margin: 0 auto;
    background-color: rgb(113, 116, 161);
}
/*header */
.header {
    width: 100%;
    background-color: lightgray;
    padding: 18px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.nav {
    display: block;
}
.header-ul {
    display: flex;
}
.li:not(:last-child) {
    margin-right: 30px;
}
li > a {
    font-size: 20px;
}
.bar {
    cursor: pointer;
    display: none;
    font-size: 30px;
}
/* header end */

/*footer*/
footer {
    padding: 25px 25px;
    background-color: lightgray;
}
/*global end*/

/*index page*/

/* section 1 index*/
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.wrapper {
    width: 300px; 
}
.central-title {
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 30px;
    text-shadow: 5px 5px 7px red;
}
.central-text {
    font-size: 14px;
    color: #A0A0A0;
    transition: 3s;
}
.central-text:hover {
    color: red;
    font-size: 20px;
}
/* info */
.auth {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.form {
    background-color: lightgray;
    padding: 10px;
    border-radius: 10%;

}
.info {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.info >label {
    margin-bottom: 5px;
}
.info >input {
    width: 200px;
    height: 30px;
    padding: 0 10px;
    border-radius: 15px;
}
.input::placeholder {
    color: seagreen;
}
.submit {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: seagreen;
    border: none;
    color: seashell;
}

/* section 1 end index*/

/* section 2 index*/
.section-2-container {
    margin: 50px auto 0;
}
.section-2-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: 2px 3px 5px orange;
}
.section-2-container h2 {
    font-size: 35px;
    color: #060A10;
    margin-bottom: 20px;
    font-family: 'Lobster';
}
.section-2-container p {
    font-size: 14px;
    color: #A0A0A0;
    margin-bottom: 30px;
    width: 300px;
    font-family: 'Shadows Into';
}
.section-2-container > img {
    width: 100%;
}
/* section 2 end index*/ 

/* section 3 index*/
.section-3-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 40px;
}
.buzzfeed-wrapper {
    max-width: 230px;
    width: 100%;
}
.buzzfeed-wrapper > h3 {
    font-size: 22px;
    color: #060A10;
    text-shadow: 3px 3px 6px red;
}
.buzzfeed-wrapper img {
    margin-top: 30px;
    margin-left: 110px;
}
.facebook-wrapper, .google-wrapper {
    max-width: 185px;
    width: 100%;
}
.facebook-wrapper > h3, .google-wrapper > h3 {
    font-size: 30px;
    margin: 0 70px 18px;
    color: #060A10;
}
.facebook-wrapper > h5, .google-wrapper > h5 {
    font-size: 10px;
    color: #060A10;
    margin: 0 39px;
    letter-spacing: 2px;
}
.facebook-img {
    margin: 18px 33px 0;
}
.google-img {
    margin: 18px 33px 0;
}
/*section 3 end index*/

/* footer start index*/ 

.footer-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer-ul > li {
    margin-bottom: 5px;
    color: #989898;
    font-size: 16px;
}
.about > h4, .occasions > h4, .support >h4, .our-product > h4 {
    margin-bottom: 20px;
    color: #060A10;
    font-size: 24px;
}
/* footer end index*/

/*index page end*/

/*about page*/

.friendsimg {
    width: 100%;
    margin: 0 auto 100px;
}

/*section 1 about us*/

.customers-story {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.customers-story-title > h2 {
    font-size: 40px;
    color: #060A10;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Shadows Into';
    z-index: 5;
    transition: all 3s;
}
.customers-story-title > h2:hover {
	transform: rotate(-360deg);
    color: yellowgreen;
}
.customers-story-title > h4 {
    font-size: 14px;
    color: #989898;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    transition: 2s;
}
.customers-story-title > h4:hover {
    font-size: 20px;
}
.customers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.customer-boy {
    max-width: 320px;
    width: 100%;
}
.customers-wrapper {
    max-width: 320px;
    width: 100%;
    background-color: lightgray;
    border-radius: 15px;
}
.customers-wrapper > h3 {
    font-size: 16px;
    padding: 20px 0 10px 20px;
}
.customers-wrapper > p {
    font-size: 13px;
    color: #989898;
    padding: 10px;
}
/*section 1 end about us*/

/*section 2 about us*/
.love-letter {
    margin: 70px auto;
    padding: 15px 15px;
    background-color: #FF7D8D;
    border-radius: 20px;
}
.love-letter > h2 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 16px;
    text-shadow: 2px 2px 10px black;
}
.love-letter > h3 {
    font-size: 16px;
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 50px;
    text-shadow: 2px 2px 10px black;
}
.love-letter > div {
    display: flex;
    justify-content: center;
}
.love-letter h4 {
    font-size: 14px;
    width: 350px;
    color: white;
    text-shadow: 2px 2px 8px black;
}
/*section 2 end about us*/

/*footer about us*/
.about-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-footer > p {
    color: #989898;
    font-size: 16px;
}
.about-footer li {
    color: #989898;
    font-size: 16px;
    line-height: 25px;
}
.social-footer > p {
    font-size: 24px;
    color: #060A10;
    margin-bottom: 20px;
}
.social-footer a {
    margin-right: 15px;
    color: rgb(113, 116, 161);
}
/*footer end about us*/
