/* global*/
body {
    background-color: rgb(113, 116, 161);
}
/*header */
header {
    background-color: lightgray;
}
.header {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    padding: 18px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.nav {
    display: block;
}
.header-ul {
    display: flex;
}
.li:not(:last-child) {
    margin-right: 30px;
}
li > a {
    font-size: 20px;
}
.bar {
    cursor: pointer;
    display: none;
    font-size: 30px;
}
/* header end */
section {
    max-width: 1170px;
    margin: 0 auto;
}
/*footer*/
footer {
    padding: 25px 25px;
    background-color: lightgray;
}
/*global end*/

/*index*/

/* section 1*/
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.wrapper {
    width: 300px; 
}
.central-title {
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 30px;
    text-shadow: 5px 5px 7px red;
}
.central-text {
    font-size: 14px;
    color: #A0A0A0;
    transition: 3s;
}
.central-text:hover {
    color: red;
    font-size: 20px;
}
/* info */
.auth {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.form {
    background-color: lightgray;
    padding: 10px;
    border-radius: 10%;

}
.info {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.info >label {
    margin-bottom: 5px;
}
.info >input {
    width: 200px;
    height: 30px;
    padding: 0 10px;
    border-radius: 15px;
}
.input::placeholder {
    color: seagreen;
}
.submit {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: seagreen;
    border: none;
    color: seashell;
}

/* section 1 end*/

/* section 2*/
.section-2-container {
    margin: 50px auto 0;
}
.section-2-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: 2px 3px 5px orange;
}
.section-2-container h2 {
    font-size: 35px;
    color: #060A10;
    margin-bottom: 20px;
    font-family: 'Lobster';
}
.section-2-container p {
    font-size: 14px;
    color: #A0A0A0;
    margin-bottom: 30px;
    max-width: 300px;
    width: 100%;
    font-family: 'Shadows Into';
}
.section-2-container > img {
    width: 100%;
}
/* section 2 end index*/ 

/* section 3 index*/
.section-3-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 40px;
}
.buzzfeed-wrapper {
    max-width: 230px;
    width: 100%;
}
.buzzfeed-wrapper > h3 {
    font-size: 22px;
    color: #060A10;
    text-shadow: 3px 3px 6px red;
}
.buzzfeed-wrapper img {
    margin-top: 30px;
    margin-left: 110px;
}
.facebook-wrapper, .google-wrapper {
    max-width: 185px;
    width: 100%;
}
.facebook-wrapper > h3, .google-wrapper > h3 {
    font-size: 30px;
    margin: 0 70px 18px;
    color: #060A10;
}
.facebook-wrapper > h5, .google-wrapper > h5 {
    font-size: 10px;
    color: #060A10;
    margin: 0 39px;
    letter-spacing: 2px;
}
.facebook-img {
    margin: 18px 33px 0;
}
.google-img {
    margin: 18px 33px 0;
}
/*section 3 end*/

/* footer*/ 

.footer-container {
    max-width: 1170px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer-ul > li {
    margin-bottom: 5px;
    color: #989898;
    font-size: 16px;
}
.about > h4, .occasions > h4, .support >h4, .our-product > h4 {
    margin-bottom: 20px;
    color: #060A10;
    font-size: 24px;
}
